@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');

@mixin font-gluten {
    font-family: "Gluten", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "slnt" 0;
  }